.header{
    background-color: rgba(255, 206, 47, 0.63);
    height: 50px;
    width: 100%;
}

.col {
    width: 13%;
    display: inline-block;
    padding-top: 5px;
    margin: 1%;
    padding-bottom: 5px;
}

.sold{
    width: 3%;
}

.row{
    box-shadow: 3px 3px #a39b9b;
}

.update{
    height: 20px;
    width: 20px;
    padding:5px;
}

.navClients{
    float: right;
    padding:10px;
}

.navBtn{
    margin: 5px;
    padding:10px;
    border-radius: 15px;
    background-color: rgba(255, 206, 47, 0.63);
    border: none;
}

.example{
    width: 100px;
    height: 100px;
}